
  <h3>Import z pliku CSV</h3>
  <%= bootstrap_form_tag url: lifts_import_path do |f| %>
    <div class="row">

    <div class="col-md-3">
    <%= f.file_field :file, label: 'Plik wyciągu:' %>
    </div>

    <div class="col-md-2">
    <%= f.submit 'Import CSV', class: 'btn btn-outline-success' %>
    </div>
    </div>
  <% end %>
  <%= paginate @lifts %>
<table class="table table-sm table-hover table-dark">
  <thead>
  <tr>
    <th>Id</th>
    <th>Data księgowania</th>
    <th>Data zlecona</th>
    <th>Typ transakcji</th>
    <th>Kwota</th>
    <th>Nazwa i rachunek nadawcy/odbiorcy</th>
    <th>Opis transakcji</th>
    <th>Dane dodatkowe</th>
    <th>Typ</th>
  </tr>
  </thead>
  <tbody>
  <% @lifts.each do |lift| %>
    <tr>
      <td><%= lift.id_lift %></td>
      <td><%= lift.date_of_booking %></td>
      <td><%= lift.date_of_commissioned %></td>
      <td><%= lift.transaction_type %></td>
      <td><%= format_curr lift.amount %></td>
      <td>
        <%= lift.name %>
        <%= lift.account %>
      </td>
      <td><%= lift.description %></td>
      <td><%= lift.addtional_data %></td>
      <td><%= lift.lift_type.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>