<%= bootstrap_form_tag url: url do |f| %>
  <%= f.hidden_field :type, value: :simple %>
  <div id="skillSet">
    <%= render 'simple_filds', f: f %>
  </div>
  <%= link_to "<span class=\"glyphicon glyphicon-plus\"></span>".html_safe, 'javascript:;', id: 'addFilter' %>
  <div class="actions">
    <%= f.submit 'Filtruj', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= bootstrap_form_tag url: url do |f| %>
  <div class="hide" id="new_filter_form">
    <%= f.select '[simple][]operator', [['i', 'and'], ['lub', 'or']], label: 'warunek' %>
    <%= render 'simple_filds', f: f, locals: {skill: false} %>
  </div>
<% end %>
<script>
    $(document).ready(function () {
        $("#addFilter").click(function () {
            $("#skillSet").append($("#new_filter_form").html());
        });
    });
</script>