<%= render 'filter_panel' %>
<div class="row">
  <%= render 'charts' %>
</div>
<div class="row">

  <h2>Saldo transakcji: <span id="amountcount"></span></h2>
  <table id="report" data-toggle="table" data-search="true">
    <thead>
    <tr>
      <th>Id</th>
      <th>Data księgowania</th>
      <th>Data zlecona</th>
      <th>Typ transakcji</th>
      <th>Kwota</th>
      <th>Nazwa i rachunek nadawcy/odbiorcy</th>
      <th>Opis transakcji</th>
      <th>Dane dodatkowe</th>
      <th>Typ</th>
    </tr>
    </thead>
    <tbody>
    <% @lifts.each do |lift| %>
      <tr>
        <td><%= lift.id_lift %></td>
        <td><%= lift.date_of_booking %></td>
        <td><%= lift.date_of_commissioned %></td>
        <td><%= lift.transaction_type %></td>
        <td class="amount"><%= lift.amount %></td>
        <td>
          <%= lift.name %>
          <%= lift.account %>
        </td>
        <td><%= lift.description %></td>
        <td><%= lift.addtional_data %></td>
        <td><%= lift.lift_type.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
